body {
  font-family: "Roboto", sans-serif;
}

/* About Section - All Screen Sizes*/
.about-section .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10rem 0 11rem 0;
}

.about-section .about-text {
  width: 45%;
  padding: 2rem;
  border-left: 5px solid pink;
}

.about-section h1 {
  color: pink;
}

.about-section p {
  font-size: 20px;
  font-weight: 400;
}

.about-section img {
  border-radius: 15px;
  filter: drop-shadow(14px 14px pink);
}

/* About Section - Mobile Screen Sizes*/
@media screen and (max-width: 950px) {
  .about-section .about-text {
    border-left: none;
    width: 60%;
  }
  .about-section .wrapper {
    flex-direction: column;
  }
  .about-section p {
    font-size: 16px;
    font-weight: 600;
  }
}
/* About Section - Desktop Screen Sizes*/
@media screen and (min-width: 1280px) {
  .about-section .wrapper {
    width: 1280px;
    margin: auto;
  }
}

/* --------------------------------- */

/* Footer Section - All Screen Sizes*/
.footer {
  background-color: pink;
}

.footer .wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  flex-wrap: wrap;
}

.footer p {
  font-size: 20px;
  text-align: center;
}

.footer a {
  padding: 1.5rem;
}

/* Footer Section - Mobile Screen Sizes*/
@media screen and (max-width: 650px){
  .footer .wrapper {
    flex-direction: column; 
  }
  .icons-section{
    padding: 2rem;
  }
  
}
/* About Section - Desktop Screen Sizes*/
@media screen and (min-width: 1280px) {
  .footer .wrapper {
    width: 1168px;
    margin: auto;
  }
}